/* Scrollbar styles for Webkit browsers (Chrome, Safari) */
.content-container::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.content-container::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
  border-radius: 10px;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid none; /* Border around the scrollbar thumb */
}

.content-container::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Color of the scrollbar thumb on hover */
}

/* Scrollbar styles for Firefox */
.content-container {
  scrollbar-width:thin; /* Make scrollbar thin */
  scrollbar-color: #c0bfbf transparent; /* Color of the scrollbar thumb and track */
}

/* Other styles */
.analyticsBody {
  height: calc(100vh - 60px);
  overflow-y: auto;
  margin-top: 40px;
  padding: 10px;
  background-color: none;
  font-family: Arial, sans-serif;
}

.title-ltv h1 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  overflow-y: auto;
  gap: 20px;
  width: 100%;
  height: calc(100vh - 164px);
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  border-radius: 8px;
  padding: 10px;
  background-color: none;
  border: 1px solid #bf99bd;
}

.MapChart {
  width: 100%;
  height: 950px;
  margin-top: 20px;
  background-color: none;
  border-radius: 25px;
}

.MapLabel {
  font-size: 14px;
  margin-top: 10px;
}

.comments-container {
  overflow-y: auto;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  background-color: none;
  border: 1px solid #bf99bd;
}

.smlHeading {
  display: flex;
  justify-content: space-between;
  color: #220047;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1.5px solid #bf99bd;
  width: 100%;
  margin-bottom: 20px;
}

.sml-show {
  border: 1px solid #bf99bd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #000000;
  background-size: cover;
  background-position: center;
}

.sml-show-header {
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid #bf99bd;
  color: #000000;
  background-color: none;
  padding: 2px;
  border-radius: 25px;
  width: fit-content;
}

.sml-show-content {
  margin: 10px 0;
  font-size: 12px;
  align-content: center;
  color: #000000;
}

.sml-show-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  z-index: 9999;
}

.Sourceicon {
  width: 10px;
  height: 10px;
}

.radio-buttons {
  margin-left: 900px;
}
