.topic-filter-page {
  display: flex;
  width:100% ;
  padding: 0 50px;
  gap: 50px;
 
}
 
.topic-filter-container,
.wordcloud-container {
  width: 50%;
  padding: 5px;
  /* margin-bottom: 20px; */
  background: var(--glass-bg-color);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid var(--glass-border-color);
}
 
.topic-filter-chart{
  height: 50vh;
 
}
.wordCloud{
  height: 50vh;
 
 
}