/* TrendAnalysis.css */

.trend-analysis-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 0px 20px;
  justify-content:space-between; /* Align items to the left */
  color:  #220047;
}

.trend-analysis-controls h2{
  font-size: 16px;
}

.filter-icon-button{
  background-color: #4CAF50; 
  color: white;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 0; /* Remove margin-left or adjust as needed */
}

.filter-icon-button:hover {
  background-color: #115293;
}

.filter-dropdown {
  z-index: 1000;
}

.filter-dropdown .MuiMenu-list {
  padding: 0;
}

.filter-dropdown .MuiMenuItem-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.filter-dropdown .MuiMenuItem-root:hover {
  background-color: #f0f0f0;
}

.trend-analysis-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.trend-analysis-loading {
  font-size: 18px;
  font-weight: bold;
  color: #1976d2;
}

.trend-analysis-chart {
  width: 100%;
  max-width: 900px;
}
