.App {
  text-align: center;
  font-family:'DM Serif display';
}

.analyticsBody {
  font-family:'DM Serif display';
  padding-top: 70px;
  background-color:rgb(255, 255, 255);
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin-right: 200px;

}

.navbar-menu li {
  display: inline-block;
  margin-right: 10px;

}

.navbar-menu li a {
  font-size: 15px;
  /* font-weight: bold; */
  color: rgb(145, 145, 145);
  padding:10px;
  text-decoration: none;
}

.navbar-menu li a:hover {
  color: var(--purple);
  text-decoration: none;
}

.navbar-menu li a.active {
  color: var(--primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  font-size: 15px;
  font-weight: lighter;
  background-color: var(--purple);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); */
  background-color:	rgb(254, 252, 240);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}



.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-icons{
  margin-right: 50px;
}

.icon {
  width: 20px;
  height: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

h3 {
  /* background-color:	var(--purple); */
  color:white;
  font-size: 18px;
  padding: 10px ;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
}
