:root {
  --primary: black;
  --purple: #e3cffd;
  --gray: #ededec;
  --beige: #fbf9f5;
}
 
.App {
  text-align: center;
  font-family:'DM Serif display';
}
 
.analyticsBody {
  font-family:'DM Serif display';
  background-color:rgb(255, 255, 255);
  margin-top:100px;
}

.sign-in-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.sign-in-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sign-in-form .form-group {
  margin-bottom: 15px;
}

.sign-in-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.sign-in-form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-in-form .error-message {
  color: red;
  margin-bottom: 15px;
}

.sign-in-form .sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-in-form .sign-in-button:disabled {
  background-color: #ccc;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}
.sign-up-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.sign-up-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sign-up-form .form-group {
  margin-bottom: 15px;
}

.sign-up-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.sign-up-form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up-form .error-message {
  color: red;
  margin-bottom: 15px;
}

.sign-up-form .sign-up-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-up-form .sign-up-button:disabled {
  background-color: #ccc;
}

.signin-link {
  text-align: center;
  margin-top: 15px;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
}
