.App {
  text-align: center;
}

.analyticsBody{
  padding-top: 60px;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li {
  display: block;
  color: white;
  padding: 10px 20px;
  font-size: 20px;

  text-decoration: none;
}

.navbar-menu li a:hover {
  /* border: 1.5px solid #000; */
  /* text-decoration: underline; */
}

.navbar-menu li a:active,
.navbar-menu li a.active {
  color: rgb(51, 122, 199);
  text-decoration: underline;
  /* border: 1.5px solid #000; */
  border-radius: 25px; 
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: rgb(51, 122, 199);
  position: fixed;  /* Fixes the navbar at the top */
  top: 0;           /* Positions the navbar at the very top of the page */
  width: 100%;      /* Makes the navbar span the full width of the page */
  z-index: 1000;    /* Ensures the navbar is on top of other elements */
}


.navbar-brand {
  display: flex;
  align-items: center;
}

.brand-icon {
  width: 30px;
  height: 30px;
  /* margin-right: 10px; */
}


.navbar-menu li {
  display: inline-block;
  margin-right: 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: rgb(132, 132, 132);

}

.navbar-menu li a:hover {
  text-decoration: underline;
}



.icon {
  margin-right: 30px;
  font-size: 1.2em;
  cursor: pointer;
}
 h3{
font-size:large;
 }