:root {
  --purple: #e3cffd;
  --gray: #ededec;
  --beige: #fbf9f5;
  --blue: #007bff;
  --gradient-start: #d9a7c7;
  --gradient-end: #ffc0cb;
  --glass-bg-color: rgba(255, 255, 255, 0.23);
  --glass-bg-color-header: rgba(255, 255, 255, 0.5);
  --glass-border-radius: 6px;
  --glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-backdrop-filter: blur(5px);
  --glass-border-color: rgba(255, 255, 255, 0.71);
}
 
.Verbatims {
  margin-top: 50px;
  position: fixed;
  padding: 20px;
  min-width: 97vw;
  background: var(--gradient-start); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}
 
.filter-button {
  padding: 8px 12px;
  background-color: var(--purple);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 0;
}
 
.download-button {
  padding: 8px 12px;
  background-color: var(--purple);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
 
.verbatims-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background: var(--glass-bg-color-header);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid var(--glass-border-color);
  padding: 15px;
  height: 45px;
}
 
.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 
.verbatims-count {
  font-weight: bold;
}
 
.verbatims-info {
  display: flex;
  align-items: center;
}
 
.verbatims-list {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  height: calc(
    100vh - 280px
  ); /* Adjust based on any other fixed headers/footers */
  overflow-y: auto;
  padding: 20px;
  background: var(--glass-bg-color);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid var(--glass-border-color);
}
 
.verbatims-list::-webkit-scrollbar {
  width: 12px;
}
 
.verbatims-list::-webkit-scrollbar-thumb {
  border-radius: var(--glass-border-radius);
  background: var(--gray);
}
 
.verbatims-list::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid var
}
 
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
 
.pagination button {
  padding: 8px 12px;
  border: 1px solid var(--purple);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}
 
.pagination button.active {
  background-color: var(--purple);
  color: black;
}
 
.pagination button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}