html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden;  */
}

.verbatim-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--glass-bg-color);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid var(--glass-border-color);
  z-index: 1;
}

.verbatim-header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.verbatim-date,
.verbatim-location,
.verbatim-language {
  background-color: var(--gray);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
}

.verbatim-content {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.verbatim-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.verbatim-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.verbatim-brand {
  font-size: 14px;
  color: #555;
}

.verbatim-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.verbatim-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .verbatim-header, .verbatim-tags {
    flex-direction: column;
    align-items: flex-start;
  }

  .verbatim-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.edit-icon {
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.edit-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.edit-option {
  margin-bottom: 8px;
}

.save-button {
  margin-top: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

.verbatim-item {
  display: flex;
  flex-direction: column;
}

.verbatim-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edit-dropdown {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.edit-dropdown label {
  margin-bottom: 5px;
}
