:root {
  --purple: #e3cffd;
  --gray: #ededec;
  --beige: #fbf9f5;
  --blue: #007bff;
}

.Verbatims {
  margin-top: 70px;
  padding: 20px;
}

.filter-button-container {
  text-align: left;
}

.filter-button {
  padding: 8px 12px;
  background-color: var(--purple);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verbatims-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  background-color: var(--gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.verbatims-count {
  font-weight: bold;
}

.download-button {
  padding: 8px 12px;
  background-color: var(--purple);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verbatims-list {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid var(--purple);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.pagination button.active {
  background-color: var(--purple);
  color: black;
}

.pagination button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}
